body{
    background-color: rgba(201, 201, 201, 0.767);
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: arial;
}
header{
    background-color: rgb(54, 57, 59);
    width: 100%;
    padding: 10px;
    text-align: center;
}
header h1{
    color: aliceblue;
}
header p{
    color: aliceblue;
}
section{
    margin: 30px;
}